body section div h1 {
   color: #ffffff;
   margin-bottom: 5%;
}

body section {
    min-height: calc(100vh - 200px);
}

#notifications{
    min-height: 20px;
} 

.profile-section {
    width: 90%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-section .container-fluid .row .profile-content {
    max-width: 90%;
}

.profile-section  .container-fluid .row .profile-content .profile-picture {
    margin: 10% 2%;
}

.profile-picture {
    border: 15px solid #faff2d;
    border-radius: 250px;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.profile-picture:hover .edit-profile-icon {
    display: inline-block;
    color: #faff2d;
}

.profile-picture:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.profile-section .info-row {
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.profile-section .info-row .info-label {
    font-size: 23px;
    font-weight: 500;
    color: #faff2d;
}

.edit-profile-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #faff2d;
}

.edit-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
}

#single-post .edit-post {
    display: block;
    color: #1e1c1c;
    padding: 2%;
}

#single-post .post-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#single-post .post-header {
    padding: 0;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    padding: 2% 2% 2% 11%;
}

.info-row:hover .edit-icon {
    display: inline-block;
}

.info-row {
    position: relative;
    width: 50%;
}

.info-row:hover {
    background-color: transparent;
}

.form-label {
    color: #1e1c1c;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-post .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.comment-row {
    padding: 2%;
}

#single-post .comment {
    display: flex;
    width: 80%;
    height: 70%;
    flex-direction: column;
    align-items: stretch;
}

#single-post .section {
    padding: 0;
}

.sidebar {
    position: relative;
    top: -20%;
    box-shadow: inset -1px 0 0 #1e1c1c;
    background-color: #faff2d;
}

.nav-link {
    font-weight: 500;
    color: #ffffff;
    background-color: #1e1c1c;
    margin: 1%;
}

.nav-link:hover {
    opacity: .8;
}

#admin {
    padding: 0;
}

#admin #users-section {
    display: flex;
    padding: 10%;
}

body footer {
    margin-top: 0;
    padding: 5% 0;
}

body #single-post {
    background-color: #fff;
}

#single-post .blog-image img {
    border-top-right-radius: 225px;
}

.blog-area .single-post {
    box-shadow: none;
    border: none;
}

#single-post .comment-row {
    margin: 1%;
    background-color: #424242;
}

#single-post .comment-row p,
#single-post .comment-row ul {
    color: #fff;
}

.para {
    padding: 1% 3%;
}

.managment-action {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.managment-action ul {
    width: 100%;
}

.managment-action li {
    color: #fff;
    margin: 2%;
}

.admin-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.admin-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.admin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    text-decoration: none;
    color: #fff;
}

.admin-button i {
    font-size: 48px;
    margin-bottom: 10px;
}

.admin-button span {
    font-size: 16px;
    font-weight: bold;
}
@media only screen and (max-width: 479px)
{
    .profile-picture {
        width: 350px;
        height: 350px;
    }
}